* {
    font-family: sans-serif;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.result {
    margin-top: 20px;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 10px;
}